[Desktop Entry]
Name=CaelestiaBinds
Comment=A GUI to display Caelestia keybindings
Exec=caelestia-binds
Icon=Logo_B
Type=Application
Categories=Utility;
